body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #dbdbdb;
}
.navbar {
  width: 100%;
  height: 15%;
  background-color: #2d2d2d;
  z-index: 1000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}
.container-fluid {
  margin: 0 10%;
}
.navbar-logo {
  display: inline-block;
  vertical-align: middle;
}
.navbar-logo img {
  width: auto;
  height: 75px;
}
.container-fluid h1 {
  font-size: 40px;
  font-weight: bolder;
  color: #e4ded4;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.collapse {
  position: absolute;
  right: 10%;
}
.nav-link {
  color: #e4ded4;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin: 0 10px;
}
.nav-icon {
  margin: 0 10px;
}
.nav-link img {
  padding: 0 0 10px 0;
}
.banner {
  width: 100%;
  height: 100%;
  background-color: #2d2d2d;
  position: relative;
}
.banner-word {
  color: #e4ded4;
  padding: 7% 0 0 10%;
  width: 60%;
  display: inline-block;
  vertical-align: top;
}
.banner-word p {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 0rem;
}
.banner-word h1 {
  font-size: 80px;
  font-weight: bolder;
  z-index: 60;
}
.banner-word img {
  margin-bottom: 20%;
  display: flex;
  width: 80%;
}
.titla {
  margin: 10% 0 15%;
}
.titla h1 {
  margin-bottom: 0rem;
}
.banner-img {
  width: 75%;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 50;
}
.banner-img img {
  display: flex;
  width: 100%;
  height: auto;
}
.introduction {
  margin: 5% 13%;
  position: relative;
}
.gif-4 {
  position: absolute;
  top: 85%;
  right: -15%;
  width: 25%;
}
.introduction-word {
  position: relative;
  text-align: center;
  margin-bottom: 3%;
}
.introduction-word::before {
  content: "";
  width: 38%;
  height: 3px;
  background-color: #2d2d2d;
  display: block;
  position: absolute;
  top: 40%;
}
.introduction-word::after {
  content: "";
  width: 38%;
  height: 3px;
  background-color: #2d2d2d;
  display: block;
  position: absolute;
  top: 40%;
  right: 0%;
}
.introduction-word h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 0;
}
.introduction-word h2 {
  font-size: 24px;
}
.introduction-imgp {
  display: flex;
  justify-content: space-between;
}
.introduct {
  width: 32%;
}
.introduct img {
  display: flex;
  width: 100%;
}
.introduct h3 {
  font-size: 32px;
  font-weight: bolder;
  margin: 20px 0 30px;
}
.introduct p {
  font-size: 16px;
  font-weight: bolder;
  line-height: 160%;
}
.introduction-button {
  text-align: center;
  margin: 5% 0;
}
.introduction-button a {
  color: #e4ded4;
  background-color: #2d2d2d;
  padding: 1% 5%;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
.introduction-button a:hover {
  background-color: #2b1c2b;
}
.news {
  width: 100%;
  padding: 10% 0 13%;
  background-color: #f0ebe3;
  position: relative;
}
.new-img,
.news-information {
  display: inline-block;
  vertical-align: middle;
}
.new-img {
  margin-left: 10%;
  margin-right: 5%;
  width: 35%;
}
.new-img img {
  display: flex;
  width: 100%;
}
.news-information {
  width: 40%;
}
.information {
  position: relative;
  text-align: start;
  margin-bottom: 3%;
}
.information h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 0;
}
.information h2 {
  font-size: 24px;
}
.news-word {
  margin-top: 50px;
}
.news p {
  font-size: 32px;
  font-weight: 700;
  padding: 0px 20px;
  margin-bottom: 10px;
}
.news button {
  width: 100%;
  height: 50px;
  background-color: #fefaf3;
  font-size: 16px;
  font-weight: bolder;
  border: solid 1.5px #fefaf3;
  border-radius: 15px;
  letter-spacing: 8px;
  color: #2d2d2d;
  padding-inline-start: 30px;
  box-shadow: 5px 10px 10px #cbc1b0;
  margin-bottom: 25px;
}
.news button:hover {
  background-color: #f0ebe3;
  color: #2d2d2d;
  transition: 2ms;
}
.new-button a {
  color: #e4ded4;
  background-color: #2d2d2d;
  padding: 1% 4%;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  position: absolute;
  right: 10%;
  top: 85%;
}
.new-button a:hover {
  background-color: #2b1c2b;
}
.table {
  padding: 10% 10%;
  width: 100%;
  height: auto;
  position: relative;
}
.gif-2 {
  position: absolute;
  top: 50%;
  right: 20%;
  width: 10%;
}
.gif-3 {
  position: absolute;
  top: 33%;
  left: 20%;
  width: 15%;
}
.gif-5 {
  position: absolute;
  top: 60%;
  left: 12%;
  width: 13%;
}
.calendar {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 650px;
}
.table th {
  border: solid 3px #dbdbdb;
  background-color: #e7e4e1;
  width: 6%;
  padding: 1% 1%;
  height: 100px;
}
.table h3 {
  font-size: 24px;
  font-weight: bolder;
}
.table p {
  font-size: 16px;
}
.footer {
  width: 100%;
  background-color: #2d2d2d;
  padding: 5% 10% 1%;
}
.footer-left,
.footer-meddla,
.footer-right {
  display: inline-block;
  vertical-align: middle;
}
.footer-left {
  text-align: center;
  color: #dbdbdb;
  width: 30%;
}
.footer-left img {
  display: flex;
  width: 100%;
}
.footer-left h1 {
  font-size: 40px;
  margin-top: 15px;
}
.footer-meddla {
  text-align: start;
  color: #dbdbdb;
  width: 20%;
  margin: 0 7%;
}
.footer-nav {
  margin-bottom: 75%;
}
.footer-nav a {
  color: #dbdbdb;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
  display: flex;
  padding: 15px 0;
}
.footer-igf img {
  padding-right: 10px;
}
.footer-right {
  width: 32%;
  position: relative;
  text-align: end;
}
.footer-right h1 {
  font-size: 24px;
  color: #dbdbdb;
  font-weight: bolder;
  text-align: start;
}
.footer-input > input {
  display: flex;
  margin: 3% 0;
  width: 100%;
  height: 40px;
  border-radius: 15px;
  padding-inline-start: 20px;
  color: #dbdbdb;
  border: solid 1px #dbdbdb;
}
.message input {
  display: flex;
  margin: 15px 0;
  width: 100%;
  height: 140px;
  border-radius: 15px;
  padding-inline-start: 20px;
  color: #dbdbdb;
  border: solid 1px #dbdbdb;
  margin-bottom: 10%;
}
.footer-button a {
  color: #e4ded4;
  background-color: #3b3939;
  padding: 3% 10%;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
.footer-button a:hover {
  background-color: #cbc1b0;
  color: #2d2d2d;
}
.down {
  text-align: center;
  margin-top: 5%;
}
.down p {
  color: #cbc1b0;
  font-size: 14px;
}
.pan {
  position: fixed;
  top: 70%;
  left: 2%;
}
.panda {
  position: relative;
  z-index: 1000;
}
.panda img {
  width: 120px;
  height: auto;
  z-index: 1000;
}
.panda-word {
  position: absolute;
  top: -80px;
  left: 45px;
  z-index: 1000;
}
.panda-word img {
  width: 200px;
  height: auto;
  z-index: 1000;
  animation: move 5s infinite;
}
.gif {
  position: absolute;
  top: 20%;
  left: 1%;
  width: 10%;
}
.gif-6 {
  position: absolute;
  top: 7%;
  right: 3%;
  width: 15%;
  z-index: 2000;
}
@keyframes move {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@media (max-width: 992px) {
  .navbar {
    width: 100%;
    height: 15%;
    background-color: #2d2d2d;
    z-index: 1000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .container-fluid {
    margin: 0 10%;
  }
  .navbar-logo {
    display: inline-block;
    vertical-align: middle;
  }
  .navbar-logo img {
    width: auto;
    height: 50px;
  }
  .container-fluid h1 {
    font-size: 20px;
    font-weight: bolder;
    color: #e4ded4;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
  }
  .collapse {
    position: absolute;
    right: 5%;
  }
  .nav-link {
    color: #e4ded4;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-align: start;
    margin: 0 5px;
  }
  .nav-icon {
    margin: 0 10px;
  }
  .nav-link img {
    padding: 0 0 10px 0;
  }
  .banner {
    width: 100%;
    height: 100%;
    background-color: #2d2d2d;
    position: relative;
  }
  .banner-word {
    color: #e4ded4;
    padding: 5% 0 0 10%;
    width: 60%;
    display: inline-block;
    vertical-align: top;
  }
  .banner-word p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0rem;
  }
  .banner-word h1 {
    font-size: 60px;
    font-weight: bolder;
    z-index: 60;
  }
  .banner-word img {
    margin-bottom: 20%;
    display: flex;
    width: 80%;
  }
  .titla {
    margin: 10% 0 15%;
  }
  .titla h1 {
    margin-bottom: 0rem;
  }
  .banner-img {
    width: 75%;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 50;
  }
  .banner-img img {
    display: flex;
    width: 100%;
    height: auto;
  }
  .introduction-word h1 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 0;
  }
  .introduction-word h2 {
    font-size: 16px;
  }
  .introduct h3 {
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0 20px;
  }
  .introduct p {
    font-size: 12px;
    font-weight: bolder;
    line-height: 160%;
  }
  .introduction-button a {
    color: #e4ded4;
    background-color: #2d2d2d;
    padding: 1% 5%;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
  }
  .information h1 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 0;
  }
  .information h2 {
    font-size: 16px;
  }
  .news-word {
    margin-top: 20px;
  }
  .news p {
    font-size: 14px;
    font-weight: 700;
    padding: 0px 10px;
    margin-bottom: 10px;
  }
  .news button {
    width: 100%;
    height: 30px;
    background-color: #fefaf3;
    font-size: 12px;
    font-weight: bolder;
    border: solid 1.5px #fefaf3;
    border-radius: 15px;
    letter-spacing: 3px;
    color: #2d2d2d;
    padding-inline-start: 10px;
    box-shadow: 5px 10px 10px #cbc1b0;
    margin-bottom: 25px;
  }
  .news button:hover {
    background-color: #f0ebe3;
    color: #2d2d2d;
    transition: 2ms;
  }
  .new-button a {
    color: #e4ded4;
    background-color: #2d2d2d;
    padding: 1% 4%;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    position: absolute;
    right: 10%;
    top: 85%;
  }
  .table h3 {
    font-size: 16px;
    font-weight: bolder;
  }
  .table p {
    font-size: 12px;
  }
  .footer-left h1 {
    font-size: 24px;
    margin-top: 15px;
  }
  .footer-meddla {
    text-align: start;
    color: #dbdbdb;
    width: 20%;
    margin: 0 7%;
  }
  .footer-nav {
    margin-bottom: 75%;
  }
  .footer-nav a {
    color: #dbdbdb;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    display: flex;
    padding: 10px 0;
  }
  .footer-igf img {
    padding-right: 10px;
  }
  .footer-right {
    width: 32%;
    position: relative;
    text-align: end;
  }
  .footer-right h1 {
    font-size: 16px;
    color: #dbdbdb;
    font-weight: bolder;
    text-align: start;
  }
  .footer-input > input {
    font-size: 12px;
    display: flex;
    margin: 4% 0;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    padding-inline-start: 8px;
    color: #dbdbdb;
    border: solid 1px #dbdbdb;
  }
  .message input {
    display: flex;
    margin: 10px 0;
    font-size: 12px;
    width: 100%;
    height: 100px;
    border-radius: 15px;
    padding-inline-start: 8px;
    color: #dbdbdb;
    border: solid 1px #dbdbdb;
    margin-bottom: 10%;
  }
  .footer-button a {
    color: #e4ded4;
    background-color: #3b3939;
    padding: 3% 10%;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
  }
}
@media (max-width: 600px) {
  .navbar {
    width: 100%;
    height: 15%;
    background-color: #2d2d2d;
    z-index: 1000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .container-fluid {
    margin: 0 5%;
  }
  .navbar-logo {
    display: inline-block;
    vertical-align: middle;
  }
  .navbar-logo img {
    width: auto;
    height: 60px;
  }
  .container-fluid h1 {
    font-size: 20px;
    font-weight: bolder;
    color: #e4ded4;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
  }
  .collapse {
    position: absolute;
    right: 5%;
  }
  .nav-link {
    color: #e4ded4;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 10px;
  }
  .nav-icon {
    margin: 0 10px;
  }
  .nav-link img {
    padding: 0 0 10px 0;
  }
  .banner {
    width: 100%;
    height: 100%;
    background-color: #2d2d2d;
    position: relative;
  }
  .banner-word {
    color: #e4ded4;
    padding: 15% 0 0 5%;
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }
  .banner-word p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0rem;
  }
  .banner-word h1 {
    font-size: 40px;
    font-weight: bolder;
    z-index: 60;
  }
  .banner-word img {
    margin-bottom: 30%;
    opacity: 0;
    width: 100%;
  }
  .titla {
    margin: 5% 0 10%;
  }
  .titla h1 {
    margin-bottom: 0rem;
  }
  .banner-img {
    width: 120%;
    position: absolute;
    top: 35%;
    right: 0%;
    z-index: 50;
  }
  .banner-img img {
    display: flex;
    width: 100%;
    height: auto;
  }
  .introduction {
    margin: 70% 8% 20%;
  }
  .introduction-word {
    position: relative;
    text-align: center;
    margin-bottom: 10%;
  }
  .introduction-word::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #2d2d2d;
    display: block;
    position: absolute;
    top: 110%;
  }
  .introduction-word::after {
    content: "";
    width: 38%;
    height: 1px;
    background-color: #2d2d2d;
    display: none;
    position: absolute;
    top: 40%;
    right: 0%;
  }
  .introduction-word h1 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 0;
  }
  .introduction-word h2 {
    font-size: 16px;
  }
  .introduction-imgp {
    display: block;
  }
  .introduct {
    width: 100%;
    margin-bottom: 50px;
  }
  .introduct img {
    display: flex;
    width: 100%;
  }
  .introduct h3 {
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0 20px;
  }
  .introduct p {
    font-size: 12px;
    font-weight: bolder;
    line-height: 160%;
  }
  .introduction-button {
    text-align: center;
    margin: 5% 0;
  }
  .introduction-button a {
    color: #e4ded4;
    background-color: #2d2d2d;
    padding: 3% 10%;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
  }
  .introduction-button a:hover {
    background-color: #2b1c2b;
  }
  .news {
    width: 100%;
    padding: 10% 0 20%;
    margin-bottom: 10%;
    background-color: #f0ebe3;
    position: relative;
  }
  .new-img {
    display: none;
  }
  .new-img {
    margin: 0 0;
    padding: 0 5%;
    width: 100%;
  }
  .new-img img {
    display: flex;
    width: 100%;
  }
  .news-information {
    width: 100%;
    padding: 10% 5%;
  }
  .information {
    position: relative;
    text-align: start;
    margin-bottom: 3%;
    text-align: center;
  }
  .information::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #2d2d2d;
    display: block;
    position: absolute;
    top: 110%;
  }
  .information h1 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 0;
  }
  .information h2 {
    font-size: 16px;
  }
  .news-word {
    margin-top: 10px;
  }
  .news p {
    font-size: 16px;
    font-weight: 700;
    padding: 0px 20px;
    margin-bottom: 10px;
  }
  .news button {
    width: 100%;
    height: 50px;
    background-color: #fefaf3;
    font-size: 12px;
    font-weight: bolder;
    border: solid 1.5px #fefaf3;
    border-radius: 15px;
    letter-spacing: 2px;
    color: #2d2d2d;
    padding-inline-start: 30px;
    box-shadow: 5px 10px 10px #cbc1b0;
    margin-bottom: 25px;
  }
  .news button:hover {
    background-color: #f0ebe3;
    color: #2d2d2d;
    transition: 2ms;
  }
  .new-button a {
    color: #e4ded4;
    background-color: #2d2d2d;
    padding: 1% 4%;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    position: absolute;
    right: 10%;
    top: 85%;
  }
  .new-button a:hover {
    background-color: #2b1c2b;
  }
  .table {
    padding: 10% 5%;
    width: 100%;
    height: auto;
  }
  .calendar {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 600px;
  }
  .table th {
    border: solid 3px #dbdbdb;
    background-color: #e7e4e1;
    width: 5%;
    padding: 1% 1%;
    height: 80px;
  }
  .table h3 {
    font-size: 16px;
    font-weight: bolder;
  }
  .table p {
    font-size: 12px;
  }
  .footer {
    width: 100%;
    background-color: #2d2d2d;
    padding: 5% 10% 1%;
  }
  .footer-left,
  .footer-meddla {
    display: inline-block;
    vertical-align: middle;
  }
  .footer-right {
    display: block;
  }
  .footer-left {
    text-align: center;
    color: #dbdbdb;
    width: 40%;
  }
  .footer-left img {
    display: flex;
    width: 100%;
  }
  .footer-left h1 {
    font-size: 20px;
    margin-top: 15px;
  }
  .footer-meddla {
    text-align: start;
    color: #dbdbdb;
    width: 40%;
    margin: 0 5%;
    margin-left: 12%;
  }
  .footer-nav {
    margin-bottom: 20%;
  }
  .footer-nav a {
    color: #dbdbdb;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    display: flex;
    padding: 10px 0;
  }
  .footer-igf img {
    padding-right: 20px;
  }
  .footer-right {
    margin-top: 50px;
    width: 100%;
    position: relative;
    text-align: end;
  }
  .footer-right h1 {
    font-size: 24px;
    color: #dbdbdb;
    font-weight: bolder;
    text-align: start;
  }
  .footer-input > input {
    display: flex;
    margin: 5% 0;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    padding-inline-start: 20px;
    color: #dbdbdb;
    border: solid 1px #dbdbdb;
  }
  .message input {
    display: flex;
    margin: 15px 0;
    width: 100%;
    height: 140px;
    border-radius: 15px;
    padding-inline-start: 20px;
    color: #dbdbdb;
    border: solid 1px #dbdbdb;
    margin-bottom: 10%;
  }
  .footer-button a {
    color: #e4ded4;
    background-color: #3b3939;
    padding: 3% 10%;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
  }
  .footer-button a:hover {
    background-color: #cbc1b0;
    color: #2d2d2d;
  }
  .down {
    text-align: center;
    margin-top: 10%;
  }
  .down p {
    color: #cbc1b0;
    font-size: 14px;
  }
  .panda {
    position: fixed;
    top: 70%;
    z-index: 1000;
  }
  .panda img {
    width: 120px;
    height: auto;
    z-index: 1000;
  }
  .panda-word {
    position: fixed;
    top: 60%;
    left: 5%;
    z-index: 1000;
  }
  .panda-word img {
    width: 200px;
    height: auto;
    z-index: 1000;
  }
}
